body{
    font-family: 'Raleway', sans-serif;
    width:70%;
    margin:auto;
    background-color: rgb(44, 42, 42);
    color: rgb(209, 209, 209);
}
.task{
    display: flex;
    background-color: rgb(92, 89, 89);
    margin: .30rem;
    border-radius: 1rem;
}
.name{
    background-color: rgb(42, 103, 183);
    border-radius: 10px ;
}
.user-tasks{
    height: 0.5rem;
    background-color: black;
    border-radius: 40%;
    margin: 2rem;
}
h1{
    margin-bottom: 0;
}
